* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

.maincontainer {
    display: flex;
    flex-direction: column;
}

.headercontainer {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logocontainer
{
    display: flex;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

.navlinkscontainer
{
    display: flex;
    margin-right: 10px;
}

.navlink {
    padding-left: 15px;
}

.navlink:active {
    color: white;
}

.navlink:visited {
    color: gray;
}

.navlink:hover {
    color: blue;
}

.ourmissioncontainer {
    width: 1349px;
    height: 700px;
    background-image: url(../../Resources/img-mission-background.jpg);
    background-size: 1200px 700px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ourmissionh2container, .ourmissionh4container {
    background-color: black;
}

.ourmissionh2container {
    padding-bottom: 10px;
    padding-top: 5px;
}

.ourmissionh4container {
    padding-bottom: 5px;
}

.teaofmonthcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teaofmonthimages {
    width: 300px;
    height: 200px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.teaofthemonthh2container {
    margin-top: 60px;
    margin-bottom: 20px;
}

.teaofthemonthdescriptionh4container {
    margin-bottom: 20px;
}

.teaofmonthoverallimagescontainer {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
}

.teaofmonthcap {
    margin-bottom: 10px;
}

.locationscontainer {
    background-image: url(../../Resources/img-locations-background.jpg);
    background-size: 1200px 500px;
    width: 1349px;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.locationsheadingcontainer {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.locationsdetailscontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.downtowncontainer, .eastbaysidecontainer, .oakdalecontainer {
    background-color: black;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.downtowncontainer {
    margin-right: 20px;
}

.eastbaysidecontainer {
    margin-left: 20px;
    margin-right: 20px;
}

.oakdalecontainer {
    margin-left: 20px;
}

.contactcontainer {
    display: flex;
    flex-direction: column;
    width: 1349px;
    height: 200px;
    margin-top: 10px;
}

.emailaddress {
    margin-top: 30px;
}

.phonenumber {
    margin-top: 20px;
}

.copyrightcontainer {
    display: flex;
    margin-left: 20px;
    margin-bottom: 25px;
}