* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

.maincontainer {
    display: flex;
    flex-direction: column;
}

.headercontainer {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logocontainer
{
    display: flex;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

.navlinkscontainer
{
    display: flex;
    margin-right: 10px;
}

.navlink {
    padding-left: 15px;
}

.navlink:active {
    color: white;
}

.navlink:visited {
    color: gray;
}

.navlink:hover {
    color: blue;
}

.ourmissioncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    background-image: url(../img-mission-background.jpg);
}

.ourmissionh2container, .ourmissionh4container {
    background-color: black;
}

.ourmissionh2container {
    padding-bottom: 10px;
    padding-top: 5px;
}

.ourmissionh4container {
    padding-bottom: 5px;
}

.teaofmonthcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teaofmonthimages {
    width: 300px;
    height: 200px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.teaofthemonthh2container {
    margin-top: 60px;
    margin-bottom: 20px;
}

.teaofthemonthdescriptionh4container {
    margin-bottom: 20px;
}

.teaofmonthoverallimagescontainer {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
}

.teaofmonthcap {
    margin-bottom: 10px;
}

.locationscontainer {
    background-image: url(../../Resources/img-locations-background.jpg);
    background-size: 1200px 500px;
    min-width: 1200px;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}