* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

#headercontainer {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

#navlinkscontainer
{
    margin-right: 10px;
}

.navlink {
    padding-left: 15px;
}

.navlink:active {
    color: white;
}

.navlink:visited {
    color: gray;
}

.navlink:hover {
    color: blue;
}

#ourmissioncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 1200px;
    min-height: 700px;
    background-image: url(../../Resources/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1200px 700px;
}

.ourmission, .ourmissiondescription {
    background-color: black;
}

.ourmission {
    padding-bottom: 10px;
    padding-top: 5px;
}

.ourmissiondescription {
    padding-bottom: 5px;
}

#teaofmonthcontainer {
    display: flex;
    flex-direction: column;
}

.teaofmonthimages {
    width: 300px;
    height: 200px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.teaofthemonth {
    margin-top: 60px;
    margin-bottom: 20px;
}

.teaofthemonthdescription {
    margin-bottom: 20px;
}

#teaofmonthimagescontainer {
    display: inline-flex;
    flex-direction: row;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
}

.teaofmonthcap {
    margin-bottom: 10px;
}

#locationscontainer {
    background-image: url(../../Resources/img-locations-background.jpg);
    background-size: 1200px 500px;
    min-width: 1200px;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

h3 {
    background-color: black;
    width: 300px;
    height: 250px;
}

#locationsdetailscontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.downtown {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 40px;
}

.eastbayside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 40px;
}

.oakdale {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#locationsheadingcontainer {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.boldtext {
    font-weight: 900;
}

#contactcontainer {
    display: flex;
    flex-direction: column;
    min-width: 1200px;
    min-height: 200px;
}

#contactheading {
    margin-top: 10px;
}

#emailaddress {
    margin-top: 30px;
}

#phonenumber {
    margin-top: 20px;
}

#copyrightinfo {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 25px;
}